# Server
SERVER_PORT=3005
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:51212/,http://localhost:3005/

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/postgres"

# Docker
# DB_VERSION=""
DOCKER_USER=""
DOCKER_PASSWORD=""
DOCKER_DB=""
# DB_PORT=""

# JWT
JWT_SECRET="your-super-secret-jwt-key"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="30d"

# Security
PASSWORD_PEPPER="your-pepper-secret-minimum-32-chars"
